@model News

<h1>@Model.Name</h1>

<p>
    @foreach (var mediaFile in Model.MediaFiles)
    {
        @if(mediaFile.Path.EndsWith(".mp4"))
        {
            <video height="100px" controls>
                <source src="@mediaFile.Path" type="video/mp4">
                @mediaFile.Name
            </video>
        }
        else
        {
            <img height="100px" src="@mediaFile.Path" alt="@mediaFile.Name">
        }
    }
</p>

<p>@Model.Description</p>

<form asp-action="Index" asp-controller="News" method="get">
    <input type="submit" value="Back" />
</form>