@model News

@{
    var mediaFiles = Model?.MediaFiles?.ToList();
}

<style>
    .media-files {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .media-file {
        border: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .media-file form {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
</style>

<div class="media-files">
    @for(int i = 0; i < mediaFiles?.Count; i++)
    {
        <div class="media-file">
            @if (Model.MainMediaFileIndex == i)
            {
                <span class="pic">The main media of the news</span>
            }
            @if (mediaFiles[i].Path.EndsWith(".mp4"))
            {
                <video height="100px" controls>
                    <source src="@mediaFiles[i].Path" type="video/mp4">
                    @mediaFiles[i].Name
                </video>
            }
            else
            {
                <img height="100px" src="@mediaFiles[i].Path" alt="@mediaFiles[i].Name" />
            }
            <form method="post" asp-action="MakeMainMediaFile" asp-controller="News" asp-route-id="@Model.Id" asp-route-mediaFileIndex="@i">
                <input  type="submit" value="Make the main" />
            </form>
            <form method="post" asp-action="DeleteMediaFile" asp-controller="News" asp-route-id="@Model.Id" asp-route-mediaId="@mediaFiles[i].Id">
                <input class="input"type="submit" value="Delete" />
            </form>
        </div>
    }
</div>
<form method="post" asp-action="AddMediaFiles" asp-controller="News" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <label class="pic">Add pictures:</label><br />
    <input class="input" type="file" multiple name="uploadedFiles" /><br />
    <input class="input" type="submit" value="Add" />
</form>

<form asp-action="Index" asp-controller="News" method="get">
    <input type="submit" value="Back" />
</form>


<style>
.input{
    margin-bottom: 10px;
}

.pic{
    padding-bottom: 5px;
    padding-top:5px;
}
</style>