@model Achievement

@{
    var mediaFiles = Model.MediaFiles.ToList();
}
@{
    Layout = "_Layout";

}
<link href="@Url.Content("~/css/Achievement/UpdateMedia.css")" rel="stylesheet" />

<div class="media__files">
        @foreach(var mediaFile in mediaFiles)
        {
        <div class="media__file">
            @if(mediaFile.Name.EndsWith("mp4"))
            {
                <video height="100px" controls>
                    <source src="@mediaFile.Path" type="video/mp4">
                    @mediaFile.Name
                </video>
            }
            else
            {
                <img height="100px" src="@mediaFile.Path" alt="@mediaFile.Name" />
            }
            <form method="post" asp-action="DeleteMediaFile" asp-controller="Achievement" asp-route-id="@Model.Id" asp-route-mediaId="@mediaFile.Id">
                <input class="input" type="submit" value="Delete" />
            </form>
        </div>
        }
</div>

<form method="post" asp-action="AddMediaFiles" asp-controller="Achievement" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <label class="pic">Add media files:</label><br />
    <input class="vibor__update" type="file" multiple name="uploadedFiles" /><br />
    <input class="add__update" type="submit" value="Add" />
</form>

<form method="get" asp-action="Index" asp-controller="Achievement">
    <input class="back__update" type="submit" value="Back" />
</form>